{
    "primaryServiceBus": {
        "connectionString": "Endpoint=...",
        "topic": "topicName",
        "subscription": "subscriptionName"
    },
    "secondaryServiceBus": {
        "connectionString": "Endpoint=...",
        "topic": "topicName",
        "subscription": "subscriptionName"
    },
    "completeMessages": false,
    "checkInterval": "5s"
}
